<div class="row mt-5">
  <div class="col-4 offset-4 mb-4">
    <input type="text" class="form-control" placeholder="Search" (keyup)='onChangePhrase($event)'>
  </div>
  <div class="col-12">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <th (click)="onClickHeader('id')">#</th>
        <th (click)="onClickHeader('name')">Name</th>
        <th (click)="onClickHeader('superPower')">SuperPower</th>
        <th (click)="onClickHeader('address')">Address</th>
      </thead>
      <tbody>
        <tr *ngFor="let hero of heroList | filter:phrase | sorter:sorterColumn">
          <td>{{ hero.id }}</td>
          <td>{{ hero.name }}</td>
          <td>{{ hero.superPower }}</td>
          <td>{{ hero.address }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>